.DS_Store

# vscode
.vscode

# Helm chart.lock
Chart.lock

# Iter8 binary and yamls and reports
**/experiment.yaml
**/result.yaml
**/.report.html
**/ghz.proto
**/ghz-call-data.json
**/ghz-call-data.bin
**/ghz-call-metadata.json
